{% extends "layout.html" %}
{% block content %}
<div>
	<form method = "POST" action="">
		
	{% for i in num %}
		<label class="radiobutton"><input type="radio" name = "options" value="one"><font size = "5"><strong>{{ users[i].username }}</strong></font>
			<span class="checkmark"></span>
		</label>
		{% endfor %}
		<input type = "submit" value = "Submit" class = "submit">
	</form>
	<a href = "/presidentchoose"><button class = "simplebutton"><span><i class="fa fa-close"> Cancel </i></span></button></a>
</div>
{% endblock %}